    <!--start landing-->
    <div class="landing">
        <div class="container">
            <div class="text">
                <h1>Welcome, To <span>Looka Online</span> Shop</h1>
                <p>You Can be The Customer or The Admin to manage carts and products <br> Try the Dark Mode Much Better</p>
            </div>
            <div class="image">
                <img src="assets/images/landing-image.png" alt="">
            </div>
        </div>
        <a class="arrow">
            <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
        <div id="arrow"  >

        </div>
    </div>
    <!--End landing-->