<main class="my-5" >
    <div class="container">
        <div class="main-title text-center">
            <h2 class="fw-bold my-5 mx-auto">About Us</h2>
        </div>
        <header class="d-flex justify-content-between align-items-center">
            <div class="left mx-1 fs-5 ">
                <p class="para"> You Can Find Here different Products From diffrerent category's.
                </p>
            <button class="btn d-block text-white fw-bold mt-3" [routerLink]= "['/product']" >see Our Products</button>
            </div>
            <div class="right mx-1">
                <div class="image-holder">
                    <img src="assets/images/webdesign-banner-1.png" alt="">
                </div>
            </div>
        </header>
        <div class="whoWe d-flex justify-content-between align-items-center">
            <div class="right">
                <div class="image-holder">
                    <img src="assets/images/website-design-company-in-udaipur-india.png" alt="">
                </div>
            </div>
            <div class="left">
                <h3 class="fw-bold fs-3 text-center">Who We are ?</h3>
                <p class="fs-5">We are an E commernce Website Where You Can live user Experince and Admin Exprince to manage Your Website </p>
                <ul>
                    <li class="fs-5" [routerLink]= "['/dashboard']" ><a> Admin Mode</a> </li>
                    <li class="fs-5" [routerLink]= "['/product']"><a> See Our Products </a></li>
                    <li class="fs-5" [routerLink]= "['/contact']"><a> Contact Us </a></li>
                </ul>
            </div>
        </div>
        <div class="foot text-center">
            <h3 class="fs-3 fw-bold">How We Did in Brand Development ?</h3>
            <p class="fs-5 para" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, odio! Aliquam rerum distinctio, aspernatur molestias ipsam quos accusamus facilis tenetur minus quisquam soluta animi esse suscipit ad ab praesentium nulla.
            </p>
        </div>
    </div>
</main>
