body, html{
    font-family: 'Recursive', sans-serif !important;
    scroll-behavior: smooth;
    font-family: Recursive,sans-serif!important;
    color: var(--text-color);
    background-color: var(--main-background-color);
    min-height: 100vh;
}

ul, li {
    list-style-type: none;
}
.light-mode{
    --main-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    --footer-shadow: 0 -5px 5px -5px rgba(0, 0, 0, .2);
    --main-background-color: #ffffff;
    --secondry-background-color: white;
    --card-background: #f9f9f9;
    --text-color: black;
    --icon-color: black;
}
.dark-mode{
    --main-box-shadow: 2px 2px 4px rgba(255, 255, 255, .7);
    --footer-shadow: 0 -5px 5px -5px rgba(255, 255, 255, .7);
    --main-background-color: #0a192f;
    --secondry-background-color: #172a46;
    --card-background: #172a46;
    --text-color: white;
    --icon-color: black;
}